@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;0,800;1,600;1,700&display=swap');

body{
	background-color: #EAEAEA;
	font-family: 'Poppins', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}
@media screen and (min-width: 994px) {
.form-control{
	width: 350px;
}
}
/*Akhir Navbar*/

/*Gambar Produk*/
.row-produk{
	background-color: #fff;
	margin: 0;
	padding: 5px;
	padding-top: 16px;
}
/*akhir gambar produk*/
.breadcrumb a {
    color: #000; /* Ganti #000 dengan warna yang kamu inginkan */
    text-decoration: none; /* Hilangkan garis bawah */
  }

  .breadcrumb a:hover {
    color: #555; /* Warna saat hover (opsional) */
  }