.navbar-custom {
    background-color: #343a40; /* warna gelap */
  }
  
  .navbar-custom .nav-link,
  .navbar-custom .navbar-brand {
    color: white;
  }
  
  .navbar-custom .nav-link:hover {
    color: #ffc107;
  }
  
  h2, p {
    color: black; /* Tanpa !important */
    text-decoration: none;
  }
  
  a {
    color: black; /* Pastikan warnanya jelas */
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(0, 0, 0); /* Memberikan warna khusus saat hover */
    text-decoration: underline; /* Bisa menambahkan underline saat hover */
  }
  .breadcrumb a {
    color: #000;
    text-decoration: none;
  }
  .breadcrumb a:hover {
    color: #555;
  }