@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;0,800;1,600;1,700&display=swap');

h2, p {
  color: black; /* Tanpa !important */
  text-decoration: none;
}

a {
  color: black; /* Pastikan warnanya jelas */
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0); /* Memberikan warna khusus saat hover */
  text-decoration: underline; /* Bisa menambahkan underline saat hover */
}

body{
	background-color: #EAEAEA;
	font-family: 'Poppins', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}
@media screen and (min-width: 994px) {
.form-control{
	width: 350px;
}
}
/*Akhir Navbar*/

/*Gambar Produk*/
.row-produk{
	background-color: #fff;
	margin: 0;
	padding: 5px;
	padding-top: 16px;
}
/*akhir gambar produk*/
.card-img-top {
	height: 200px; /* atur sesuai kebutuhan */
	object-fit: cover;
	width: 100%;
  }
  