@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;0,800;1,600;1,700&display=swap');

body{
	background-color: #EAEAEA;
	font-family: 'Poppins', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}


/*Style Kategori*/
.img-category{
	width: 50px;
}

.img-category:hover{
	transform: scale(1.2);
	transition: 0.2s;
}

.row-container{
	background-color: #fff;
	margin: 0px;
}
/*Style Kategori*/

/*Style Produk*/ 
.card:hover {
	border: 2px solid #2d2d2d;
}
/*Style Produk*/ 

h2, p {
  color: black; /* Tanpa !important */
  text-decoration: none;
}

a {
  color: black; /* Pastikan warnanya jelas */
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0); /* Memberikan warna khusus saat hover */
  text-decoration: underline; /* Bisa menambahkan underline saat hover */
}

body{
	background-color: #EAEAEA;
	font-family: 'Poppins', sans-serif;
	color: #2D2D2D;
	font-size: 14px;
}

/*Gambar Produk*/
.row-produk{
	background-color: #fff;
	margin: 0;
	padding: 5px;
	padding-top: 16px;
}
/*akhir gambar produk*/

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	justify-content: center; /* supaya baris terakhir rata tengah */
  }
  
  @media (max-width: 768px) {
	.card-img-top {
	  height: 150px;
	}
  }